#canvas {
    background-color: #066481;
}
body {
    background-color: black;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .board {
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1rem;
  }
  
  .navbar-link {
    color: orange;
    font-size: 1.2rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-link:hover {
    color: white;
    transform: translateY(-2px);
  }
  
  